.footer {
  background-color: rgb(239,240,240);;
  width: 100%;
  min-height: 50px;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  
  .copyright {

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .social__media {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .social__link {
      color : black;
      max-width: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
 
  }
 
  }

  .contact {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .contact__link {
      color : black;
      max-width: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
  }

}