<div class="sign-up__container">
	<mat-card class="sign-up__card">
		<mat-card-header class="sign-up__header">
			<mat-card-title>
				<h1 class="login__title" appTittleFontSize> Sign Up </h1>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content class="sign-up__content">
			<form  class="sign-up__form" [formGroup]="signUpForm">
				<mat-form-field class="sign-up__field">
					<mat-label>Nombre</mat-label>
					<input formControlName="name" matInput type="text" />
					<mat-error>{{ signUpForm.get('name')?.errors | validationErrors }}</mat-error>
				</mat-form-field>
				<mat-form-field class="sign-up__field">
					<mat-label>Apellido</mat-label>
					<input formControlName="lastName"  matInput type="text" />
					<mat-error>{{ signUpForm.get('lastName')?.errors | validationErrors }}</mat-error>
				</mat-form-field>
        <mat-form-field class="sign-up__field">
					<mat-label>Email</mat-label>
					<input formControlName="email" form  matInput type="email" />
					<mat-error>{{ signUpForm.get('email')?.errors | validationErrors }}</mat-error>
				</mat-form-field>
				<mat-form-field class="sign-up__field">
					<mat-label>Contraseña</mat-label>
					<input formControlName="password" matInput [type]="ShowLoginPassword ? 'text' : 'password'" />
					<mat-error>{{ signUpForm.get('password')?.errors | validationErrors }}</mat-error>
					<button type="button" mat-icon-button matSuffix (click)="ShowLoginPassword = !ShowLoginPassword">
						<mat-icon class="login__icon">visibility</mat-icon>
					</button>
				</mat-form-field>
				<mat-card-actions class="sign-up__actions">
					<button (click)="onUserSignUp(signUpForm.value)" type="submit" mat-flat-button class="sign-up__button" color="primary">Registrarse</button>
				</mat-card-actions>
			</form>
		</mat-card-content>
	</mat-card>
</div>