<div class="product-detail__container">
  <section class="image__container">
    <img class="product-detail__image" src="{{productData?.productImage}}" alt="product image">
  </section>
  <section class="data__container">
    <div class="product-detail__info">
      <h3>{{productData?.productName}}</h3>
      <span>ID#: {{productData?._id}}</span>
      <span>$ {{productData?.productPrice}}</span>
      <div class="product-detail__quantity">
        <button mat-raised-button (click)="onHandleQuantity('min')">-</button>
        <input type="text" value="{{quantity}}">
        <button mat-raised-button (click)="onHandleQuantity('plus')">+</button>
      </div>
      <button class="product-detail__button" (click)="addToCart()" mat-raised-button color="primary">Agregar a Carrito</button>
    </div>
    <div class="product-detail__description">
      <h4>Descripción:</h4>
      <p>{{productData?.productDescription}}</p>
    </div>
  </section>
</div>