<mat-dialog-content class="products__dialog">
	<div class="product__image-container">
		<img class="product__image" src="{{ productForm.get('productImage')?.value }}" alt="previsualización de imagen">
	</div>
	<h2 mat-dialog-title>{{ data ? 'EDITAR PRODUCTO' : 'CREAR PRODUCTO'}}</h2>
	<form class="products__form" [formGroup]="productForm">
		<mat-form-field class="products__field">
			<mat-label>IMAGEN</mat-label>
			<input matInput type="text" formControlName="productImage" />
			<mat-error>
				{{ productForm.get('productImage')?.errors | validationErrors }}
			</mat-error>
		</mat-form-field>

		<mat-form-field class="products__field">
			<mat-label>NOMBRE</mat-label>
			<input matInput type="text" formControlName="productName" />
			<mat-error>
				{{ productForm.get('productName')?.errors | validationErrors }}
			</mat-error>
		</mat-form-field>

		<mat-form-field class="products__field">
			<mat-label for="productCategory">CATEGORÍA</mat-label>
			<mat-select #categorySelect formControlName="productCategory" id="productCategory">
				<mat-option value=" default">
					<p>Default Category</p>
				</mat-option>
				<mat-option class="products__option" *ngFor="let category of categories" [value]="category.productCategory"
					style="width: 100%;">
					<p>{{ category.productCategory }}<button class="products__delete" mat-icon-button color="warn"
							(click)="onDeleteCategory(category._id)"><mat-icon fontIcon="delete"></mat-icon></button></p>
				</mat-option>
				<form [formGroup]="categoryForm">
					<mat-form-field style="width: 100%;">
						<mat-label>AGREGAR CATEGORÍA</mat-label>
						<input matInput type="text" formControlName="productCategory" />
						<button matSuffix mat-icon-button color="primary"
							(click)="onCreateCategory()"><mat-icon>add</mat-icon></button>
					</mat-form-field>
				</form>
			</mat-select>
			<mat-error>
				{{ productForm.get('productCategory')?.errors | validationErrors }}
			</mat-error>

		</mat-form-field>
		<mat-form-field class="products__field">
			<mat-label>PRECIO</mat-label>
			<input matInput type="text" formControlName="productPrice" />
			<span matTextPrefix>$&nbsp;</span>
			<mat-error>
				{{ productForm.get('productPrice')?.errors | validationErrors }}
			</mat-error>
		</mat-form-field>

		<mat-form-field class="products__field">
			<mat-label>FECHA DE CREACIÓN</mat-label>
			<input matInput [matDatepicker]="picker" formControlName="createdAt">
			<mat-hint>MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-error>
				{{ productForm.get('createdAt')?.errors | validationErrors }}
			</mat-error>
		</mat-form-field>

		<mat-form-field class="products__field">
			<mat-label>STOCK</mat-label>
			<input matInput type="text" formControlName="productStock" />
			<mat-error>
				{{ productForm.get('productStock')?.errors | validationErrors }}
			</mat-error>
		</mat-form-field>

		<mat-form-field class="products__field">
			<mat-label>DESCRIPCIÓN</mat-label>
			<textarea matInput type="text" formControlName="productDescription" maxlength="100"></textarea>
			<mat-error>
				{{ productForm.get('productDescription')?.errors | validationErrors }}
			</mat-error>
		</mat-form-field>

	</form>
	<mat-card-actions class="products__actions">
		<button mat-raised-button color="primary" (click)="onSaveProduct()">ACEPTAR</button>
		<button mat-raised-button color="warn" mat-dialog-close>CANCELAR</button>
	</mat-card-actions>

</mat-dialog-content>