  .products__dialog {

    .product__image-container {
      width: 100%;
      display: grid;
      place-items: center;
    }

    .products__form {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }

    .products__actions {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
    }


  }

  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
  }

  .product__image {
    max-width: 100px;
  }