<app-header></app-header>
<mat-drawer-container class="dashboard__container" autosize>
  <mat-drawer #drawer class="dashboard__sidenav" mode="over" position="end" [opened]="layoutService.isSidenavOpen">
    <ng-container *ngIf="layoutService.showCartInfo"> 
      info CART 
    </ng-container>
    <ng-container *ngIf="layoutService.showUserInfo">
    <app-login></app-login>
    <app-sign-up></app-sign-up>
    </ng-container>
  </mat-drawer>
  <div class="dashboard__content">
    <app-home></app-home>
  </div>
</mat-drawer-container>
<app-footer></app-footer>