.users__container {
  width: 100%;
  min-height: 75vh;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .users__title {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    text-decoration: underline;
  }

  td {
    vertical-align: middle;
  }
}