.reset__container {
  width: 100%;

  .reset__card {
    width: 100%;
    .reset__header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

    }

    .reset__content {
      display: flex;
      justify-content: center;
      align-items: center;

      .reset__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .reset__field {
          width: 100%;

        }

        .reset__actions {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .reset__button {
            width: 100%;
            background-color: blue;
            color: white;
          }

          .back__button {
            width: 100%;
            margin-top: 20px;
            background-color: rgba(88, 87, 87, 0.185);
            color: grey;

          }
        }
      }
    }


  }


}