.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;

}

.image__container {
    width: 100%;
    height: 400px
}

.card__image {
    width: 100%;
    height: 100%;
    max-width: 310px;
    object-fit: cover; /* This ensures the image covers the entire area without distorting */
}

.card__content {
    padding: 15px;
}

.card__action {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 10px 0;
    }
}
