<mat-card class="card" [ngStyle]="{'width': cardWidth, 'height': cardHeight}">
  <div class="image__container">
    <a href="#">
      <img class="card__image" src="{{ product.productImage }}" alt="imagen del producto">
    </a>
    </div>
    <mat-card-content>
      <h4>{{ product.productName }}</h4>
      <span *ngIf="showPrice">$&nbsp;{{ product.productPrice}}</span>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="showAddButton" mat-raised-button color="primary">Agregar a carrito</button>
    </mat-card-actions>
  </mat-card>