<mat-card class="card">
  <a class="image__container" [ngStyle]="{'cursor': redirectRoute ? 'pointer' : 'default'}" (click)="onNavigateTo()">
      <img class="card__image" [src]="'http://localhost:8000' + product.productImage" alt="imagen del producto">
  </a>
  <mat-card-content class="card__content" >
    <h4>{{ product.productName }}</h4>
    <span></span>
    <span *ngIf="showPrice">$&nbsp;{{ product.productPrice}}</span>
    <mat-card-actions class="card__action">
      <button *ngIf="showAddButton" (click)="onAddButtonAction()" mat-raised-button color="primary">Agregar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>