<mat-toolbar class="header__container header mat-elevation-z4">

  <div class="header">
    <div class="header__form" *ngIf="route.url.includes('dashboard/customer-products-list')" >
      <p-iconField>
        <p-inputIcon styleClass="pi pi-search" />
        <input class="header__input" type="text" name="search" pInputText placeholder=" Search" (keyup)="onGetSearchParam($event)" />
    </p-iconField>
    </div>
    <div class="header__logo">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/home">
          <h1>Logo</h1>
        </a>
      </mat-nav-list>
    </div> 
    <section class="header__actions">
      <button mat-icon-button class="header__button" *ngIf="onIsLoggedIn()" (click)="onToggleCartSidenav()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="header__button" (click)="onToggleUserSidenav()">
        <mat-icon>person</mat-icon>
      </button>
    </section>
  </div>
  
  <div class="header__nav">
    <ul class="list">
      <li class="list__item">
        <a routerLink="/dashboard/customer-products-list" (click)="showAllProducts()"><mat-icon>list</mat-icon> TODOS LOS PRODUCTOS</a></li>
      <li class="list__item" *ngFor="let category of categories">
        <a routerLink="/dashboard/customer-products-list" (click)="productsByCategory(category.productCategory)">{{category.productCategory}}</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
