<mat-toolbar class="header__container header mat-elevation-z4">

  <div class="header">
    <div class="header__form">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input class="header__input" type="text" name="search" pInputText placeholder="Search"/>
    </p-iconField>
    </div>
    <div class="header__logo">
      <button routerLink="" routerLinkActive="router-link-active" mat-button>
        <span>My E-commerce</span>
      </button>
    </div>
    <section class="header__actions">
      <button mat-icon-button class="header__button" (click)="onToggleCartSidenav()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="header__button" (click)="onToggleUserSidenav()">
        <mat-icon>person</mat-icon>
      </button>
    </section>
  </div>
  
  <div class="header__nav">
    <ul class="list">
      <li class="list__item"><a>Sección 1</a></li>
      <li class="list__item"><a>Sección 2</a></li>
      <li class="list__item"><a>Sección 3</a></li>
    </ul>
  </div>
</mat-toolbar>