<div class="cart__container">
  <section class="product__container">
    <h3>Carrito</h3>
    <ng-container *ngIf="productData.length === 0">
      <span>SIN PRODUCTOS EN CARRITO</span>
    </ng-container>
    
    <section *ngFor="let product of productData" class="product">
      <section class="products__image">
        <img class="product-detail__image" routerLink="/dashboard/customer-products-list/{{product._id}}" [src]="'http://localhost:8000' + product.productImage" alt="product image">
      </section>
      <section class="product__data">
        <div class="product__title">
          <h4>{{product.productName}}</h4>
        </div>
        <span>ID#: {{product._id}}</span>
        <div class="product__quantity">
          <span>Cantidad: {{product.quantity}}</span>
        </div>
        <button class="product-remove__button" (click)="onRemoveFromCart(product._id)" mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
      </section>
      <section class="product__price">
        <span> {{onFormatPrice(product.productPrice)}}</span>
      </section>
    </section>
  </section>
  <section class="resume__container">
    <div class="resume__totals">
      <h3>Resumen</h3>
      <span>Total: {{onFormatPrice(subTotalPrice)}}</span>
      <span>Envío: {{onFormatPrice(delivery)}}</span>
      <span>Descuento: - {{onFormatPrice(discount)}}</span>
      <h4 style="margin-top: 20px ;">Total a pagar: {{onFormatPrice(totalPrice)}}</h4>
    </div>
    <button class="resume__button" routerLink="/dashboard/checkout"  mat-raised-button color="primary">Pagar</button>
  </section>
</div>