.cart__container {
  width: 100%;
  min-height: 75vh;
  padding: 40px 150px;
  gap: 75px;

  display: flex;
  flex-direction: row;

  .product__container {
    width: 100%;
    padding: 30px 10px;

    .product {
      width: 100%;
      margin: 20px 0;
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      border-bottom: solid 1px black ;

      .products__image {

        width: 150px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        .product-detail__image {
          width: 100%;
        }
      }

      .product__data {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .product__title{
          border-bottom: solid 1px black;
          padding-bottom: 1px;
        }

        .product__quantity {

          max-width: 150px;
          display: flex;
          flex-direction: row;

          span {
            text-align: center;
            margin: 0 20px;
          }
        }

        .product-remove__button {
          max-width: 200px;
          border-radius: 0;
        }
      }

      .product__price {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: start;
      }
    }

  }

  .resume__container {
    min-width: 30%;
    max-height: 300px;
    padding: 30px 10px;
    border: solid 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .resume__totals {
      display: flex;
      flex-direction: column;
    }

    .resume__button {
      border-radius: 0;
    }


  }
}