.products__container {
  width: 100vw;
  min-height: 75vh;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .products__message {
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
  }

  .table__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .products__filter {
      max-width: 300px;
      margin: 30px 0 0 30px;
    }

    .button__container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .products__add {
        margin-right: 30px;
      }
    }

  }

  .table__container {
    width: 100%;
  }

  .products__title {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    text-decoration: underline;
  }

  .products__paginator {
    width: 100%;
  }

}

.products__image {
  max-width: 60px;
  max-height: auto;
}

td {
  vertical-align: middle;
}

.gray-row {
  background-color: #c2bfbf6b; /* Color gris */
}

.white-row {
  background-color: #ffffff; /* Color blanco */
}