.products__container {
  width: 100%;
  min-height: 75vh;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .products__message {
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
  }

  .table__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .products__filter {
      max-width: 300px;
      margin-left: 30px;
    }

    .button__container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .products__add {
        margin-right: 30px;
      }
    }

  }

  .table__container {
    width: 100%;
  }

  .products__title {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    text-decoration: underline;
  }

  .products__paginator {
    width: 100%;
  }

}