.table__container{
  width: 100%;
}
td{
  width: 100vw;
  vertical-align: middle;
  justify-content: center;
  text-align: center
}

.gray-row {
  background-color: #c2bfbf6b; /* Color gris */
}

.white-row {
  background-color: #ffffff; /* Color blanco */
}